*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    height: 100%;
    width: 100%;
    /* margin: 0px 20px 0px 20px;     */
}


.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color:black;
    color: white;
    padding: 0px 20px 0px 20px;
    position: fixed;
    top: 0;  
    transition: top 0.6s ease, background-color 0.3s;
    z-index: 1000; 
    gap: 20px;
}

a{
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-family: Bold, Arial, Verdana, sans-serif;
    opacity: 0.8;
}

a:hover{
    opacity: 1;
}

li::marker{
    content: '';
}

a.nav-item{
    display: flex;
}

.navbar.transparent {
    background-color: transparent; 
}

.navbar.solid {
    background-color: black;
}
.navbar.hidden {
    top: -100px; 
    
}

.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
}


.left-section {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo {
    width: 300px;
    height: 100px;
    text-decoration: none;
    font-size: 24px;
    background-size: cover;
    /* color: inherit; */
    background-color: inherit;
    
}

.nav-center {
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
   
}

.nav-collection{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    
  
}


.nav-item{
    display: flex;
    align-items: center;
    /* background-color: #333;
    transform: scale(1.05); */
}

.right-section {
    height: 100%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
   justify-content: end;
}

.menu-container {
    position: relative;
    display: flex;
    
}

.hamburger-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    /* position: relative; */
    z-index: 1;

}

.bar1{
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bar2{
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.bar3{
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

 .bar1.open{
       transform: rotate(45deg);
    position: absolute;
    top: 10px;
}


.bar2.open{
    opacity: 0;
}


.bar3.open{
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 0.6s ease-in .02s;
    padding-top: 6%;
}



.menu.open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list {
    margin: 0px;
    padding: 0px;
    width:80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-content: center;
 
}

.menu-list li {
    display: flex;
}
 

@media (max-width: 1285px) {
    .nav-collection {
      display: none;
    }
}

@media (max-width: 1285px) {
    .menu.open {
      display: none;
    }
}

@media (max-width: 1285px) {
     .nav-collection.open {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        transform: translateX(0%);
        transition: transform 0.3s ease .02s;
        z-index: 1;   
        padding-top: 7%; 
    }
}


.menu.hidden{
    transform: translateX(100%);
}

.body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}


.info{
    width: 30%;
    height: 30%;
    position:absolute;
    color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: start;
    align-items: center;
    top:55%;
    left: 5%;
    
}

.para{
    font-size: larger;
    
}

h2{
    font-size: 40px;
}



.info-btn{
    position: relative;
    background-color: transparent;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    z-index: 1;
    
}


.info-btn.learn{
    margin-left: 50px;

}

.info-btn.more{
    margin-left: 70px;
}

.info-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 1.5s, opacity 0.5s ;
    z-index: -1;
    opacity: 0;
}

.info-btn:hover::before {
    left: 0%;
    opacity: 1;
}

.info-btn:hover {
    color: black;
    border-color: black;
    transition: color 1.5s;
    opacity: 1;
   
}



  
.s1{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* padding: 0px 20px 0px 20px; */
    background-image: url(../spaceimg/s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.s2{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* padding: 0px 20px 0px 20px; */
    background-image: url(../spaceimg/s2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.s3{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* padding: 0px 20px 0px 20px; */
    background-image: url(../spaceimg/s3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.s4{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* padding: 0px 20px 0px 20px; */
    background-image: url(../spaceimg/s4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.nav-bottom{
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    position: relative;
    z-index: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.bottom-collection{
    margin: 0px;
    padding: 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-text{
    margin: 0px;
    padding: 0px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}